html {
	height: 100vh;
	background:#e1e1e1;
}

body {
	height: 100vh;
	background-color:#e1e1e1;
}

div {
	/* border:solid 1px #000; */
}

h2 {
	color:#fff;
	text-align: center;
	font-size: 45px;
}

p {
	font-family: arial;
	font-size: 12px;
	line-height: 15px;
}

#container {
	width:960px;
	margin:0 auto;
}

#socialButtons {
	background-color:#00aeef;
	height:33px;
	width:65px;
	margin:0 auto;
	position: fixed;
}

#socialButtons img {
	padding-left:5px;
	padding-top: 5px;
}

#banner {
	height:150px;
	padding:10px;
	background-color:#00aeef;
}

#nav {
	height:20px;
	padding:10px;
}

#nav a {
	color:#000;
	font-family: arial;
	margin-right: 10px;
}


#main{
	width:73%;
	float:left;
	padding:10px;
	min-height: 100vh;
	background-color: #fff;
}

#mainThree{
	width:60%;
	float:left;
	min-height: 100vh;
	padding:10px;
	background-color: #fff;
}

.sideBar {
	background-color:#fff799;
	float:left;
	width:22%;
	min-height: 100vh;
	padding:10px;
}

.sideBar a{
	display:block;
}

.sideLeft {
	background-color:#fff799;
	float:left;
	width:13%;
	padding:10px;
	min-height: 100vh;
}

.sideLeft a{
	display:block;
}

.sideRight {
	background-color:#fff799;
	float:left;
	width:20%;
	min-height: 100vh;
	padding:10px;
}

#imageGallery {
	width:150px;
	height:265px;
	background-color: #e1e1e1;
	margin-right:10px;
	margin-left:12px;
	margin-bottom:10px;
	padding:10px;
	float:left;
}

#imageGallery img {
	width:150px;
	height: auto;
}

#footer {
	background:#00aeef;
	height:30px;
	clear:both;
}